<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fantasy Refs</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login/css/index.css' %}">
  </head>
  <body>

    <h1>Fantasy Referees</h1>
    <!-- <p>Here we have a fantasy football style league but instead of player you earn points based on hte refs and penalties given</p> -->
    <p>Join the most Exciting Fantasy Sports game that has nothing really to do with sports!!!</p>
    
    

    <h3>Want to Register or already a member?</h3>
    {% if messages %}
    <ul id="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div>
      <h3>Login</h3>
      <form id="logForm" action="{% url 'login:login' %}" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        <input type="submit" name="submit" value="Login">
      </form>
      <h3>Register</h3>
      <form id="regForm" action="{% url 'login:register' %}" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" value=""/><br><br>
        Last Name: <input type="text" name="last_name"><br><br>
        Username: <input type="text" name="username" value=""/><br><br>
        Email: <input type="text" name="email" value=""/><br><br>
        Password: <input type="password" name="password" value=""/><br><br>
        Confirm Password: <input type="password" name="confPassword" value=""/><br><br>
        <input type="submit" name="submit" value="Register"/>
      </form>
    </div>
  </body>
</html