html {
	background-color: #0B0C0D;
	color: #E57618;
}

h1 {
	font-size: 7em;
	text-shadow: -7px -5px 8px #E82C0C;
}
#logForm {
	display: inline-block;
	outline-style: ridge;
	outline-width: medium;
	padding: 10px;
	text-align: right;
}
